# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
aikiro42/node_modules
aikiro42/.pnp
aikiro42/.pnp.*
aikiro42/.yarn/*
!aikiro42/.yarn/patches
!aikiro42/.yarn/plugins
!aikiro42/.yarn/releases
!aikiro42/.yarn/versions

# testing
aikiro42/coverage

# next.js
aikiro42/.next/
aikiro42/out/

# production
aikiro42/build

# misc
aikiro42/.DS_Store
aikiro42/*.pem

# debug
aikiro42/npm-debug.log*
aikiro42/yarn-debug.log*
aikiro42/yarn-error.log*
aikiro42/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
aikiro42/.env*

# vercel
aikiro42/.vercel

# typescript
aikiro42/*.tsbuildinfo
aikiro42/next-env.d.ts
